// Styles to improve the "People" tab in courses

body.people [id^="user-avatar-people-page"] span {
    background-size: 100px;
    width: 100px;
    height: 100px;
}

@media print {
    // When printing hide HUIDS and URLs
    body.people a[href]:after,
    body.people .roster td:nth-child(3), 
    body.people .roster th:nth-child(3), 
    body.people .roster td:nth-child(4), 
    body.people .roster th:nth-child(4) {
        display: none;
    }
    // When printing show pictures
    body.people [id^="user-avatar-people-page"] img{
        display: block;
    }
} 