
#header-inner{
    background: transparent !important;
    background-image: none !important;
}


#header{
    background: #595959 !important;
    background-image: none !important;
}

.harvardLogo{
    display: inline-block;
    left: 16px;
    bottom: 0;
    position: absolute;
    background-image: url('images/HSPH-logo.png') !important;
    background-size: 170px 62px;
    width: 170px;
    height: 62px;
}
